@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    font-family: "Poppins", serif;
  }
}

.cm-soon-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.cm-soon-scrollbar::-webkit-scrollbar-track {
  background: #191a27;
  border-radius: 10px;
}

.cm-soon-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c6c8c87c;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .cm-soon-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
